doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title register User
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .hero-wrap.js-fullheight.overlay(style="background-image: url('images/image_2.jpg'); opacity: 0.9;background-size: cover;height: 1230px;", data-stellar-background-ratio='0.5')
      .d-flex.justify-content-center.h-50
        .card
          .card-header
            h3(style='color: white;') Sign In
          .card-body
            form(action='login', method='post')
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-user
                input.form-control(type='email', required='', name='email', placeholder='username')
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-key
                input.form-control(type='password', name='password', required='', placeholder='password')
              .form-group
                button.btn.float-right.login_btn(type='submit', value='Login') Login
          form(action='register', method='post')
            .card-footer
              .form-group
                label Don't have an account?
                button.btn.float-right.login_btn(type='submit', value='Sign Up') Sign Up



