doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title SuccessLogin
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .hero-wrap.js-fullheight.overlay(style="background-image: url('images/image_2.jpg'); opacity: 0.9;background-size: cover;height: 1230px;", data-stellar-background-ratio='0.5')
      .d-flex.justify-content-center.h-50
        .card
          .card-header
            h3(style='color: white;') Welcome #{email}!  You are logged in!
          form(action='homepage', method='POST')
            .form-group
              button.btn.login_btn(type='submit', value='Go To HomePage', style='width: fit-content;height: 100px;margin-left: 100px;margin-top: 40px;') Go To HomePage
